<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear customer,</h3>
    <h4>Thanks for shopping on Jungle! Here is your order summary:</h4>
    <p><h4>Order ID: </h4><%=@order.id%></p>
    <p><h4>Purchased on: </h4><%=@order.created_at%></p>
    <table>
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <%= image_tag item.product.image.tiny %>
            </td>
            <td>
              <h4><%= item.product.name %></h4>
              <br>
              <p><%= item.product.description %></p>
            </td>
            <td>
              <%=  '%.2f' % (item.item_price_cents / 100) %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= '%.2f' % (item.total_price_cents / 100) %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">
            TOTAL:
          </th>
          <th>
            <%= '%.2f' % (@order.total_cents / 100)%>
          </th>
        </tr>
      </tfoot>
    </table>
    <h4>Have a nice day!</h4>
  </body>
</html>